mixin videoBlock(video = {})
  .videoBlock
    a(href=routes.videoDetail(video.id))
      video.video__thumnail(src=video.videoFile, controls=true)
      h4.videoBlock__title=video.title
      h6.videoBlock__views=video.views


//- 강의에서 나온 문법
  video.videoBlock__thumbnail(src=video.videoFile, controls=true)